.radio {
    &__input {
        position: absolute;
        appearance: none;
        &:focus + .radio__label,
        &:checked + .radio__label {
            background: #F6F3E3;
            color: #241D1C;
        }
        &:disabled + .radio__label{
            opacity: 0.3;
        }
    }
    &__label {
        cursor: pointer;
        display: inline-block;
        padding: 16px 24px;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        border: 1px solid #BFBDB2;
        border-radius: 36px;
        &_spec {
            position: relative;
            padding-left: 52px;
            &::before {
                position: absolute;
                content: '';
                display: block;
                left: 8px;
                top: 50%;
                transform: translateY(-50%);
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-image: var(--bg-image);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}
