@media screen and (max-width: 1024px) {
    .slider {
        &__item {
            max-width: 30%;
            &_active {
                max-width: 40%;
            }
        }
        &__arrow {
            bottom: 12%;
        }
    }    
}

@media screen and (max-width: 768px) {
    .header {
        &__navigation {
            display: none;
        }
    }
    .hero {
        padding: 40px 0;
        &__title {
            font-size: 40px;
            margin-bottom: 24px;
        }
    }
    .slider {
        &__item {
            max-width: 25%;
            &_active {
                max-width: 50%;
            }
        }
        &__arrow {
            width: 40px;
            bottom: 31%;
        }
    }

    .price {
        padding: 40px 0;
        &__title {
            font-size: 32px;
            margin-bottom: 16px;
        }
        &__wrapper-content {
            &::before {
                content: none;
            }
        }
        &__content {
            flex-basis: 100%;
        }
        &__list {
            margin-bottom: 40px;
        }
    }
    
}

@media screen and (max-width: 560px) {
    .header {
        &__container {
            padding-top: 12px;
            padding-bottom: 13px;
        }
    }
    .container {
        padding: 0 24px;
    }
    .main-link {
        padding: 10px 24px;
        font-size: 12px;
    }
    .hero {
        padding: 32px 0;
        &__title {
            max-width: 420px;
            font-size: 24px;
            margin-bottom: 16px;
        }
    }
    .slider {
        padding-bottom: 20px;
        &__item {
            max-width: 100%;
        }
        &__arrow {
            bottom: 0px;
        }
        &__arrow-left {
            left: 0px;
        }
        &__arrow-right {
            right: 0px;
        }
    }
    .price {
        padding: 32px 0;
        &__title {
            font-size: 20px;
            margin-bottom: 8px;
        }
        &__tagline {
            font-size: 12px;
            margin-bottom: 24px;
        }
        &__list {
            margin-bottom: 24px;
        }
        &__item {
            font-size: 12px;
            line-height: 1.2;
            padding-bottom: 6px;
            margin-bottom: 16px;
        }
    }
    .about {
        &__description {
            margin: 0 0 46px;
        }
    }    
}